# Environments
backend/venv/
.env
backend/.env
frontend/.env
frontend/.env.local

# Node.js
frontend/node_modules/
frontend/.next/
frontend/out/

# Python
__pycache__/
*.py[cod]
*$py.class
backend/__pycache__/

# OS
.DS_Store
Thumbs.db

# Project Specific
backend/uploads/
backend/faiss_index/
*.pdf
!backend/sample.pdf
